.scroll-to-top {
    position: fixed;
    bottom: 0rem;
    left: 1rem;
    animation: fadeIn 700ms ease-in-out 1s both;
    cursor: pointer;
    margin-top: 30px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.back-top-container {
    height: 40px;
    text-align: center;
    width: 100px;
    background-color: #37475a;
    color: white;
    margin-right: 8px;
}
@media(max-width:1037px){
    .back-top-container{
        width: 100%;
    }
}