@keyframes spinner {
    to{
        transform: rotate(360deg);
    }
}
.loading{
    width: 6rem;
    height: 6rem;
    /* margin-top:10rem; */
    border-radius:50%;
    border:3px solid #ccc;
    border-top-color: var(--clr-primary-5);
    animation: spinner 0.6s linear infinite;
    margin-top: calc(50vh - 6rem);
    margin-left: calc(50vh - 6rem);

}